<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Конвертер Валют</title>
    <link rel="stylesheet" href="/css/history.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Главная</a></li>
        <li class="active breadcrumb-item"><a th:href="@{/history}">История</a></li>
        <li class="breadcrumb-item"><a th:href="@{/logout}">Выйти</a></li>
    </ol>
</nav>
    <form th:action="@{history}" method="post">
        <h2 th:text="'История Ваших Операций'"></h2>
        <div class="row">
            <div class="col-md-6"><label> Начиная с : </label></div>
            <div class="col-md-6"><label> Завершая : </label></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" type="date" name="date_starting" required="required" th:value="${date_starting}">
            </div>
            <div class="col-md-6">
                <input class="form-control" type="date" name="date_ending" required="required" th:value="${date_ending}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><input class="btn btn-dark" type="submit" name="submit" value="Поиск"></div>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <td>Исходная валюта</td>
            <td>Исходная сумма</td>
            <td>Полученная валюта</td>
            <td>Полученная сумма</td>
            <td>Дата</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="conversation : ${conversations}">
            <td th:text="${conversation.inCurrency.code}"></td>
            <td th:text="${conversation.inValue}"></td>
            <td th:text="${conversation.outCurrency.code}"></td>
            <td th:text="${conversation.outValue}"></td>
            <td th:text="${conversation.date}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>