<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Currency Converter</title>
    </head>
    <body>
        <h1 th:text="'Конвертер Валют'">Welcome To Currency Converter App</h1>
        <form th:action="@{/index}" method="post">
            <label> Выберите исходную валюту: </label>
            <select>
                <option th:each="currency : ${currencies}">
                    <p th:text="${currency.code + ' (' + currency.name + ')'}"></p>
                </option>
            </select>
            <label> Выберите желаемую валюту: </label>
            <select>
                <option th:each="currency : ${currencies}">
                    <p th:text="${currency.code + ' (' + currency.name + ')'}"></p>
                </option>
            </select>
            <br>
            <label> Введите исходную сумму: </label>
            <input type="number" name="in_value" step="any"/>
            <input type="submit" name="submit" value="Конвертировать">
        </form>
    </body>
</html>