<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Конвертер Валют</title>
</head>
<body>
    <ul id="menu-bar">
        <li><a th:href="@{/index}">Главная</a></li>
        <li><a th:href="@{/history}">История</a></li>
        <li><a th:href="@{/logout}">Выйти</a></li>
    </ul>
    <h1 th:text="'Конвертер Валют'">Welcome To Currency Converter App</h1>
    <form th:action="@{convert}" method="post">
        <label> Выберите исходную валюту: </label>
        <select name="in_currency">
            <option th:each="currency : ${currencies}"
                    th:text="${currency.code + ' (' + currency.name + ')'}"
                    th:value="${currency.code}"
                    th:selected="${currency.code==inCurrencySelected.code}">
            </option>
        </select>
        <label> Выберите желаемую валюту: </label>
        <select name="out_currency">
            <option th:each="currency : ${currencies}"
                    th:text="${currency.code + ' (' + currency.name + ')'}"
                    th:value="${currency.code}"
                    th:selected="${currency.code==outCurrencySelected.code}">
            </option>
        </select>
        <label> Введите исходную сумму: </label>
        <input type="number" name="source_value" step="any" th:value="${in_value}" required/>
        <label> Результат: </label>
        <input type="text" name="out_value" step="any" th:value="${out_value}" readonly/>
        <input type="submit" name="submit" value="Конвертировать">
    </form>
</body>
</html>